<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Rythm Login</title>
<style type="text/css">
.failed {
	color: red;
}
</style>
</head>
<body>
	<h1>Welcome to Rythm</h1>
	<h3>Login to Rythm and Enjoy Music</h3>
	<form action="#" th:action="@{/authenticateTheUser}" method="POST">
		<div class="failed" th:if"${param.error}">
			<i>Sorry! You entered invalid Username or Password</i>
		</div>
		<p>
			Username: <input type="text" name="username" />
		</p>
		<p>
			Password: <input type="password" name="password" />
		</p>
		<input type="submit" value="Login">
	</form>
</body>
</html>